<app-nav-bar></app-nav-bar>
<div class="alert alert-dismissible fade show mt-2" role="alert"
     *ngIf="show" [ngClass]="created ? 'alert-success' : 'alert-danger'" >
    <span *ngIf="created">{{msg}}</span>
    <span *ngIf="!created">{{msg}}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="show=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="jumbotron bg-white border border-primary mt-3"style="min-height: 660px;" >
    <form #submitform="ngForm" (ngSubmit)="submitTeam(submitform.value)">
        <div class="form-group row ">
            <label class="col-3 col-form-label  text-right">Team Name:</label>
            <div class="col-6 ">
                <input type="teamname" class="form-control" id="teamname" name="teamname"placeholder="Type in Teamname" [ngModel] required>
            </div>
        </div>
        <div class="form-group row ">
            <label class="col-3 col-form-label text-right">Date Of Creation:</label>
            <div class="col-6 ">
                <input type=date class="form-control" id="dateofcr" name="dateofcr" readonly>
            </div>
        </div>
    
        <table class="table table-striped table-hover mt-3">
            <caption>List of users</caption>
         <thead>
         <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            
         </tr>
         </thead>
         <tbody>
            <tr *ngFor="let user of users; let i = index">
              <th scope = "row">
                <input class="form-check-input" type="checkbox"id="myCheck" value="user.value"
                (change)="fetchUser(user.id_user)"[(ngModel)]="user.isSelected">
              </th>
              <td>{{ user.id_user }}</td>
              <td>{{ user.first_name +" " + user.last_name}}</td>
              <td>{{ user.username | uppercase }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role}}</td>
              
            </tr>       
        </tbody>
        </table>
        <div class="px-md-4"><button type="submit" class="btn btn-info mt-2" style="min-width: 100px;">Submit</button></div> 
    </form>
</div> 